.Navbar {
    background-color: rgb(0, 188, 212);
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
}

.Navbar__appbar {
    max-width: 960px;
    box-shadow: none !important;
    margin: 0 auto;
}